body {
    background: url('../images/bg.jpg') fixed;
    background-size: cover;
    color: #4b4b47;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
}

body::before {
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    will-change: transform;
}

em {
    color: #000;
}

.demo-blog .demo-blog__posts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    padding: 0;
    width: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.demo-blog.mdl-layout .mdl-layout__content {
    padding-top: 65px;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.mdl-layout__header {
    background-color: rgba(249, 96, 76, 0.3);
}

#site-title {
    font-size: 35px;
    text-shadow: 0 0 5px #fff;
}

.demo-blog .mdl-card {
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0,
    rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0 1px 5px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    min-height: 360px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.demo-blog .mdl-card__title {
    padding: 16px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-blog .mdl-card__media {
    background-size: cover;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    padding: 24px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.demo-blog .mdl-card__media a,
.demo-blog .mdl-card__title a {
    color: inherit;
}

.demo-blog .mdl-card__supporting-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    min-height: 64px;
    padding: 16px;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.demo-blog .mdl-card__supporting-text strong {
    font-weight: 400;
}

.demo-blog .mdl-card__media ~ .mdl-card__supporting-text {
    min-height: 64px;
}

.demo-blog .mdl-card__supporting-text:not(:last-child) {
    box-sizing: border-box;
    min-height: 76px;
}

.demo-blog:not(.demo-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.demo-blog .mdl-card__actions:first-child {
    margin-left: 0;
}

.demo-blog .meta {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-pack: start;
    height: auto;
    margin-right: 10px;
    padding: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.demo-blog .meta > .meta__favorites {
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    font-size: 13px;
    font-weight: 500;
    margin: 0 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.demo-blog .meta > .meta__favorites .material-icons {
    cursor: pointer;
    font-size: 2em;
    margin-left: 12px;
}

.demo-blog .mdl-card .meta.meta--fill {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.demo-blog .meta > *:first-child {
    margin-right: 16px;
}

.demo-blog .meta > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.coffee-pic {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
}

.demo-blog .coffee-pic .mdl-card__media {
    background-image: url('../images/coffee.jpg');
}

.demo-blog .something-else .mdl-card__media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.demo-blog .something-else > button {
    position: absolute;
    right: 28px;
    top: 0;
    transform: translate(0px, -28px);
    -ms-transform: translate(0px, -28px);
    -webkit-transform: translate(0px, -28px);
}

.demo-blog .something-else .mdl-card__media {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 13px;
    font-weight: 500;
}

.demo-blog .something-else .mdl-card__media img {
    height: 64px;
    margin-bottom: 10px;
    width: 64px;
}

.demo-blog .something-else .mdl-card__supporting-text {
    background-color: #F5F5F5;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.demo-blog .on-the-road-again .mdl-card__media {
    background-image: url('../images/road.jpg');
}

.demo-blog .shopping .mdl-card__media {
    background-image: url('../images/shopping.jpg');
}

.demo-blog .demo-blog__posts > .demo-nav {
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-pack: justify;
    font-weight: 500;
    margin: 12px 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button {
    color: white;
    text-decoration: none;
}

.demo-blog .demo-blog__posts > .demo-nav .mdl-button {
    background-color: white;
    color: rgba(0, 0, 0, 0.54);
}

.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button:first-child .mdl-button {
    margin-right: 16px;
}

.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button:last-child .mdl-button {
    margin-left: 16px;
}

.demo-blog .mdl-card > a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

.demo-blog .mdl-card h3 {
    margin: 0;
}

.demo-blog .mdl-card h3 a {
    text-decoration: none;
}

.demo-blog .mdl-card h3.quote:before, .demo-blog .mdl-card h3.quote:after {
    display: block;
    font-size: 3em;
    margin-top: 0.5em;
}

.demo-blog .mdl-card h3.quote:before {
    content: '“';
}

.demo-blog .mdl-card h3.quote:after {
    content: '”';
}

.demo-blog--blogpost .custom-header {
    background-color: transparent;
}

.demo-blog--blogpost .demo-blog__posts > .mdl-card .mdl-card__media {
    background-image: url('../images/road_big.jpg');
    height: 280px;
}

.demo-blog--blogpost .comments {
    background-color: #EEE;
}

.demo-blog--blogpost .meta > * {
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.demo-blog--blogpost .meta + .mdl-card__supporting-text {
    border: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.demo-blog--blogpost .meta + .mdl-card__supporting-text p {
    font-size: 16px;
    line-height: 28px;
    margin: 16px auto;
    max-width: 512px;
}

.demo-blog--blogpost .comments {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-pack: start;
    padding: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.demo-blog--blogpost .comments > form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    flex-diretion: row;
}

.demo-blog--blogpost .comments > form .mdl-textfield {
    color: rgb(97, 97, 97);
    margin-right: 16px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* Workaround for Firefox.
 * User agent stylesheet kept overwriting the font in FF only.
 */
.demo-blog--blogpost .comments > form .mdl-textfield .mdl-textfield__input {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-blog--blogpost .comments > form .mdl-textfield input,
.demo-blog--blogpost .comments > form .mdl-textfield textarea {
    resize: none;
}

.demo-blog--blogpost .comments > form button {
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    margin-top: 20px;
}

.demo-blog--blogpost .comments .comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.demo-blog--blogpost .comments .comment > .comment__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    margin-bottom: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.demo-blog--blogpost .comments .comment > .comment__header > .comment__avatar {
    border-radius: 24px;
    height: 48px;
    margin-right: 16px;
    width: 48px;
}

.demo-blog--blogpost .comments .comment > .comment__header > .comment__author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.demo-blog--blogpost .comments .comment > .comment__text {
    line-height: 1.5em;
}

.demo-blog--blogpost .comments .comment > .comment__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-pack: start;
    font-size: 0.8em;
    margin-top: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.demo-blog--blogpost .comments .comment > .comment__actions button {
    color: rgba(0, 0, 0, 0.24);
    margin-right: 16px;
}

.demo-blog--blogpost .comments .comment > .comment__answers {
    padding-left: 48px;
    padding-top: 32px;
}

.demo-blog--blogpost .demo-back {
    color: white;
    left: 16px;
    position: absolute;
    top: 16px;
    z-index: 9999;
}

.demo-blog .section-spacer {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-blog .something-else {
    overflow: visible;
    z-index: 10;
}

.demo-blog .amazing .mdl-card__title {
    background-color: #263238;
}

.demo-blog .minilogo {
    background: #F5F5F5 url('../images/avatar.png') no-repeat center;
    background-size: 50%;
    border-radius: 22px;
    height: 44px;
    width: 44px;
}

/* Fixes for IE 10 */
.mdl-grid {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.mdl-mini-footer--social-btn, .mdl-mini-footer__social-btn {
    height: auto !important;
    width: auto !important;
}

.fa {
    font-size: 25px !important;
}

.social-btn {
    background: transparent no-repeat center;
    background-size: contain;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
    opacity: 0.5;
    text-decoration: none;
}

.social-btn:hover {
    opacity: 1;
}

.social-btn__twitter:hover {
    color: #55acee;
}

.social-btn__facebook:hover {
    color: #3a5795;
}

.social-btn__gplus {
    color: #dd4b39;
}

.social-btn__share {
    background: transparent;
    color: rgba(0, 0, 0, 0.54);
}

.demo-blog .mdl-mini-footer {
    background-color: white;
    box-sizing: border-box;
    -ms-flex-align: center;
    height: 120px;
    margin-top: 80px;
    padding: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.text-laravel {
    color: #F9604C;
}

.material-icons.favorite {
    opacity: 0.5;
}

.material-icons.favorite:hover {
    color: #F9604C;
}

.material-icons.favorite.selected {
    color: #ff3139;
    opacity: 1;
}
